@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito Sans";
  src: url(./assets/fonts/Nunito_Sans/NunitoSans.ttf);
  font-display: fallback;
}

:root {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  --color-bg: hsl(0, 0%, 98%);
  --color-elements: hsl(0, 0%, 100%);
  --color-text: hsl(200, 15%, 8%);

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: hsl(207, 26%, 17%);
    --color-elements: hsl(209, 23%, 22%);
    --color-text: hsl(0, 0%, 100%);
  }
}

[data-theme="dark"] {
  --color-bg: hsl(207, 26%, 17%);
  --color-elements: hsl(209, 23%, 22%);
  --color-text: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-bg);

  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

main {
  @apply flex-1;
}

header,
.card,
input,
select {
  background: var(--color-elements);
}

.card {
  @apply w-full h-full rounded-lg shadow-sm overflow-hidden;
}

.card-content {
  @apply text-sm p-4 pb-8;

  li {
    @apply font-bold;
  }

  span {
    @apply font-normal;
  }
}

.btn {
  @apply flex items-center gap-2 leading-none w-fit px-8 py-2 bg-[--color-elements] shadow;
}

#details-page {
  @apply text-base;
}

.country-details {
  .list {
    @apply font-bold leading-loose;
  }

  span {
    @apply font-normal;
  }
}
