@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito Sans";
  src: url(./assets/fonts/Nunito_Sans/NunitoSans.ttf);
  font-display: fallback;
}

:root {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  --color-bg: #f1f1f1;
  --color-section: #fff;
  --color-text: #000;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #202d36;
    --color-section: #2b3743;
    --color-text: #fff;
  }
}

[data-theme="dark"] {
  --color-bg: #202d36;
  --color-section: #2b3743;
  --color-text: #fff;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-bg);

  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

header,
.card,
input,
select {
  background: var(--color-section);
}

.card {
  @apply w-full h-full rounded-lg shadow-sm overflow-hidden;
}

.card-content {
  @apply text-sm p-4 pb-8;

  li {
    @apply font-bold;
  }

  span {
    @apply font-normal;
  }
}

.btn {
  @apply flex items-center gap-2 leading-none w-fit px-8 py-2 bg-[--color-section] shadow;
}

#details-page {
  @apply min-h-screen text-base;
}

.country-details {
  .list {
    @apply font-bold leading-loose;
  }

  span {
    @apply font-normal;
  }
}
